{% extends "base.html.twig" %}

{% block title %}Koszyk{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Akcja</th>
            </tr>                
        </thead>
        <tbody>
            {% for product in basket %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{{ path('product', {'id': product.id}) }}" class="btn btn-primary">Pokaż</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}